<div class="interface">
  <div class>
    <%=@question%>
    <p>–You</p>
  </div>
    <div class="border-start border-5 answer">
      <b><%=@answer%></b>
      <p>–Your coach</p>
    </div>
  <%=link_to "Ask another question", ask_path%>
</div>
